div.card {
  .card-body {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    > * {
      margin: 0;
      padding: 0;
    }
    h2,
    h3 {
      color: var(--accent-color);
    }
    h2 {
      font-weight: 500;
    }
    p {
      height: 100px;
    }
  }
  button.card-button {
    width: 100%;
    background-color: var(--accent-color);
    color: white;
    text-align: center;
    border: none;
    padding: 12px 0;
    font-size: var(--small-font-size);
    font-weight: 500;
  }
}
