div.card {
  div.card-body{
    h2, h3{
      width: fit-content;
      cursor: pointer;
    }
  }
  img.card-img {
    cursor: pointer;
    border-radius: unset;
  }

  button.card-button {
    width: 100%;
    background-color: var(--accent-color);
    color: white;
    text-align: center;
    border: none;
    padding: 12px 0;
    font-size: var(--small-font-size);
    font-weight: 500;
  }
}