/**
  * ------------------------------------------------------------------------------------------------------------------------------
  * General styles for HTML tags and root const vars:
  * ------------------------------------------------------------------------------------------------------------------------------
**/
:root {
  --primary-color: #9ecee9;
  --accent-color: #3d8ab6;
  --big-font-size: 18px;
  --medium-font-size: 16px;
  --small-font-size: 14px;
  --very-small-font-size: 12px;
  --very-very-small-font-size: 10px;
}

html,
body {
  height: 100%;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: var(--big-font-size);
  font-weight: normal;
}

h2 {
  font-size: var(--medium-font-size);
  font-weight: normal;
}

h3 {
  font-size: var(--small-font-size);
  font-weight: normal;
}

p {
  font-size: var(--very-small-font-size);
  font-weight: normal;
}

span {
  font-size: var(--very-very-small-font-size);
  font-weight: normal;
}

/**
  * ------------------------------------------------------------------------------------------------------------------------------
  * General styles for Bootstrap configs:
  * ------------------------------------------------------------------------------------------------------------------------------
**/
.card-img{
  border-radius: unset;
}

/**
  * ------------------------------------------------------------------------------------------------------------------------------
  * My general styles:
  * ------------------------------------------------------------------------------------------------------------------------------
**/
.page-container {
  width: 100%;
  display: flex;
  justify-content: center;

  > :nth-child(2) {
    width: 100%;
    max-width: 700px;
  }
}
